<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characters</key>
	<array>
		<dict>
			<key>characterID</key>
			<string>1</string>
			<key>name</key>
			<string>Mario</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>2</string>
			<key>name</key>
			<string>Donkey Kong</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>3</string>
			<key>name</key>
			<string>Link</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>4</string>
			<key>name</key>
			<string>Samus</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>5</string>
			<key>name</key>
			<string>Dark Samus</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>6</string>
			<key>name</key>
			<string>Yoshi</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>7</string>
			<key>name</key>
			<string>Kirby</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>8</string>
			<key>name</key>
			<string>Fox</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>9</string>
			<key>name</key>
			<string>Pikachu</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>10</string>
			<key>name</key>
			<string>Luigi</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>11</string>
			<key>name</key>
			<string>Ness</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>12</string>
			<key>name</key>
			<string>Captain &lt;Br&gt;Falcon</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>13</string>
			<key>name</key>
			<string>Jigglypuff</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>14</string>
			<key>name</key>
			<string>Peach</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>15</string>
			<key>name</key>
			<string>Daisy</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>16</string>
			<key>name</key>
			<string>Bowser</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>17</string>
			<key>name</key>
			<string>Ice Climbers</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>18</string>
			<key>name</key>
			<string>Sheik</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>19</string>
			<key>name</key>
			<string>Zelda</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>20</string>
			<key>name</key>
			<string>Dr. Mario</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>21</string>
			<key>name</key>
			<string>Pichu</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>22</string>
			<key>name</key>
			<string>Falco</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>23</string>
			<key>name</key>
			<string>Marth</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>24</string>
			<key>name</key>
			<string>Lucina</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>25</string>
			<key>name</key>
			<string>Young Link</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>26</string>
			<key>name</key>
			<string>Ganondorf</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>27</string>
			<key>name</key>
			<string>Mewtwo</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>28</string>
			<key>name</key>
			<string>Roy</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>29</string>
			<key>name</key>
			<string>Chrom</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>30</string>
			<key>name</key>
			<string>Mr. Game &lt;Br&gt;&amp; Watch</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>31</string>
			<key>name</key>
			<string>Meta Knight</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>32</string>
			<key>name</key>
			<string>Pit</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>33</string>
			<key>name</key>
			<string>Dark Pit</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>34</string>
			<key>name</key>
			<string>Zero Suit Samus</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>35</string>
			<key>name</key>
			<string>Wario</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>36</string>
			<key>name</key>
			<string>Snake</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>37</string>
			<key>name</key>
			<string>Ike</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>38</string>
			<key>name</key>
			<string>Pokémon &lt;Br&gt;Trainer</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>39</string>
			<key>name</key>
			<string>Diddy Kong</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>40</string>
			<key>name</key>
			<string>Lucas</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>41</string>
			<key>name</key>
			<string>Sonic</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>42</string>
			<key>name</key>
			<string>King Dedede</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>43</string>
			<key>name</key>
			<string>Olimar</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>44</string>
			<key>name</key>
			<string>Lucario</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>45</string>
			<key>name</key>
			<string>R.O.B.</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>46</string>
			<key>name</key>
			<string>Toon Link</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>47</string>
			<key>name</key>
			<string>Wolf</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>48</string>
			<key>name</key>
			<string>Villager</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>49</string>
			<key>name</key>
			<string>Mega Man</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>50</string>
			<key>name</key>
			<string>Wii Fit Trainer</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>51</string>
			<key>name</key>
			<string>Rosalina &amp; Luma</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>52</string>
			<key>name</key>
			<string>Little Mac</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>53</string>
			<key>name</key>
			<string>Greninja</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>54</string>
			<key>name</key>
			<string>Mii Fighter</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>55</string>
			<key>name</key>
			<string>Palutena</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>56</string>
			<key>name</key>
			<string>Pac-Man</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>57</string>
			<key>name</key>
			<string>Robin</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>58</string>
			<key>name</key>
			<string>Shulk</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>59</string>
			<key>name</key>
			<string>Bowser Jr.</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>60</string>
			<key>name</key>
			<string>Duck Hunt</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>61</string>
			<key>name</key>
			<string>Ryu</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>62</string>
			<key>name</key>
			<string>Ken</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>63</string>
			<key>name</key>
			<string>Cloud</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>64</string>
			<key>name</key>
			<string>Corrin</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>65</string>
			<key>name</key>
			<string>Bayonetta</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>66</string>
			<key>name</key>
			<string>Inkling</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>67</string>
			<key>name</key>
			<string>Ridley</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>68</string>
			<key>name</key>
			<string>Simon</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>69</string>
			<key>name</key>
			<string>Richter</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>70</string>
			<key>name</key>
			<string>King K. Rool</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>71</string>
			<key>name</key>
			<string>Isabelle</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>72</string>
			<key>name</key>
			<string>Incineroar</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>73</string>
			<key>name</key>
			<string>Piranha Plant</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>74</string>
			<key>name</key>
			<string>Joker</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>75</string>
			<key>name</key>
			<string>Hero</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>76</string>
			<key>name</key>
			<string>Banjo &amp; Kazooie</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>77</string>
			<key>name</key>
			<string>Terry</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>78</string>
			<key>name</key>
			<string>Byleth</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>79</string>
			<key>name</key>
			<string>Min Min</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>80</string>
			<key>name</key>
			<string>Steve / Alex</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>81</string>
			<key>name</key>
			<string>Sephiroth</string>
		</dict>
		<dict>
			<key>characterID</key>
			<string>82</string>
			<key>name</key>
			<string>Pyra / Mythra</string>
		</dict>
	</array>
</dict>
</plist>
