<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553795012243-asf7022rbovgvider1iba8qir70b08fg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553795012243-asf7022rbovgvider1iba8qir70b08fg</string>
	<key>API_KEY</key>
	<string>AIzaSyCVnaaBuHRL4BOGQmHeef-tF6adZycDYjs</string>
	<key>GCM_SENDER_ID</key>
	<string>553795012243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.amanzane.ManzaneroAndrewFinalProject</string>
	<key>PROJECT_ID</key>
	<string>itp342-finalproject-495c0</string>
	<key>STORAGE_BUCKET</key>
	<string>itp342-finalproject-495c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553795012243:ios:435ed1256914bbce63af66</string>
</dict>
</plist>